name: WHL Daily Script

on:
  schedule:
    - cron: "0 17 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-csv:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Execute Jupyter Notebook
        run: |
          jupyter nbconvert --to notebook --execute WHL_Win_Predictor.ipynb --output WHL_Win_Predictor.ipynb

      - name: Pull latest changes (to prevent push conflicts)
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git pull --rebase origin main || true

      - name: Commit and push changes
        run: |
          git add All_teams_WHL_stats.csv prediction_record.csv prediction_record.xlsx || echo "No files to add"
          git commit -m "Automated Prediction Record Update - $(TZ='America/Los_Angeles' date +'%Y-%m-%d %H:%M')" || echo "No changes to commit"
          git push origin main